<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"
          name="F:/macKhoros/RajeshFiles/CodeRepos/Myrepos/MyGitHubRepo/restassured2024/src/test/java/restAssuredPlay.fakeApitest.java">
        <classes>
            <class name="restAssuredPlay.fakeApitest">
                <methods>
                    <include name="createUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>